<section class="education-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="heading">
          <h3><b>Education</b></h3>
          <h6 class="font-lite-black"><b>ACADEMIC CAREER</b></h6>
        </div>
      </div><!-- col-sm-3 -->
      
      <div class="col-sm-12 col-md-9">
      
        <div class="education-wrapper">
          <div class="education margin-b-50">
            <h4><b>BACHELOR OF SCIENCE IN STRATEGIC MANAGEMENT</b></h4>
            <h5 class="font-yellow"><b>JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGY</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUAT 2019(4 YEARS)</h6>
            <p class="margin-tb-30">Responsibilities: </p>
            <ul class="list margin-b-30">
              <li>Learn how to conduct Market Research</li>
              <li>Analyzing Industry Trends.</li>
              <li>Conducting Financial Analysis.</li>
              <li>Analyzing Sales Performance</li>
              <li>Use Analysis to Create Business Strategies</li>
              <li>How to present business strategies to decision makers.</li>
            </ul>
          </div><!-- education -->
          
          <div class="education margin-b-50">
            <h4><b>WEB AND MOBILE DEVELOPMENT</b></h4>
            <h5 class="font-yellow"><b>MORINGA SCHOOL</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUATED IN SEPT 2015(4 MONTHS)</h6>
            <p class="margin-tb-30">The program was a 4 month intensive learning on how to program. Some of the responsibility include: </p>
            <ul class="list margin-b-30">
              <li>Responsible for Android and Web client development and maintenance</li>
              <li>Develop the corresponding function according to product demands.</li>
              <li>Learn UI/UX designs.</li>
              <li>Learn how to optimize application for maximum speed and scalability</li>
              <li>Learn how to use virtual control</li>
              <li>Collaborate with other team members (pair programming</li>
            </ul>
          </div><!-- education -->
          
          <div class="education margin-b-50">
            <h4><b>KENYA CERTIFICATE OF SECONDARY EDUCATION (KCSE)</b></h4>
            <h5 class="font-yellow"><b>NAARO HIGH SCHOOL</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUATED IN 2014(4 YEARS)</h6>
            <p class="margin-tb-30"> </p>
          </div>
          <div class="education margin-b-50">
            <h4><b>KENYA CERTIFICATE OF PRIMARY EDUCATION (KCPE)</b></h4>
            <h5 class="font-yellow"><b>RWATHE PRIMARY SCHOOL</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUATED IN 2011(8 YEARS)</h6>
            <p class="margin-tb-30"> </p>
          </div><!-- education -->
        </div><!-- education-wrapper -->
      </div><!-- col-sm-9 -->
    </div><!-- row -->
  </div><!-- container -->
  
</section><!-- education-section -->