<section class="education-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="heading">
          <h3><b>Education</b></h3>
          <h6 class="font-lite-black"><b>ACADEMIC CAREER</b></h6>
        </div>
      </div><!-- col-sm-3 -->
      
      <div class="col-sm-12 col-md-9">
      
        <div class="education-wrapper">
          <div class="education margin-b-50">
            <h4><b>BACHELOR OF SCIENCE IN STRATEGIC MANAGEMENT</b></h4>
            <h5 class="font-yellow"><b>JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGY</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUAT 2019(4 YEARS)</h6>
            <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
            quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
            eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
          </div><!-- education -->
          
          <div class="education margin-b-50">
            <h4><b>WEB AND MOBILE DEVELOPMENT</b></h4>
            <h5 class="font-yellow"><b>MORINGA SCHOOL</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUATED IN SEPT 2015(4 MONTHS)</h6>
            <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
            quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
            eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
          </div><!-- education -->
          
          <div class="education margin-b-50">
            <h4><b>KENYA CERTIFICATE OF SECONDARY EDUCATION (KCSE)</b></h4>
            <h5 class="font-yellow"><b>NAARO HIGH SCHOOL</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUATED IN 2014(4 YEARS)</h6>
            <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
            quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
            eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
          </div>
          <div class="education margin-b-50">
            <h4><b>KENYA CERTIFICATE OF PRIMARY EDUCATION (KCPE)</b></h4>
            <h5 class="font-yellow"><b>RWATHE PRIMARY SCHOOL</b></h5>
            <h6 class="font-lite-black margin-t-10">GRADUATED IN 2011(8 YEARS)</h6>
            <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
            quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
            eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
          </div><!-- education -->
        </div><!-- education-wrapper -->
      </div><!-- col-sm-9 -->
    </div><!-- row -->
  </div><!-- container -->
  
</section><!-- education-section -->