/* ---------------------------------
 EDUCATION SECTION
--------------------------------- */
.education .list > li {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.education .list > li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  display: block;
  border-radius: 10px;
  border: 2px solid #555;
}

.education-wrapper {
    position: relative;
  }
  
  .education-wrapper:after {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 0;
    left: -51px;
    width: 2px;
    background: #ccc;
  }
  
  .education-wrapper .education {
    position: relative;
  }
  
  .education-wrapper .education:after {
    content: '';
    position: absolute;
    top: 8px;
    left: -58px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 0 8px #999;
    background: green;
  }