
    <div id="features" class="section wb">
        <div class="container">
          <div class="about-heading">
            <h3><b>About me</b></h3>
            <h6 class="font-lite-black"><b>My Skills</b></h6>
          </div>

          
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <ul class="features-left">
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i><ion-icon name="logo-html5"></ion-icon></i>
                           
                            <div class="fl-inner">
                                <h4>HTML5/CSS3 <br> (Sass, LESS)</h4>
                                
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i><ion-icon name="logo-angular"></ion-icon></i>
                            <div class="fl-inner">
                                <h4>Front-end Web application framework (Angular 2+)</h4>
                                
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i><ion-icon name="logo-javascript"></ion-icon></i>
                            <div class="fl-inner">
                                <h4>Object Oriented Programming (TypeScript/JavaScript) </h4>
                                
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i><ion-icon name="code-working"></ion-icon></i>
                            <div class="fl-inner">
                                <h4>Agile development</h4>
                                
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 hidden-xs hidden-sm text-center">
                    <br><br>
                  <img src="assets/images/profile.jpeg" class="img-center img-fluid" alt="">
                <br><br>
                  <p style="color: green;"><b>““The most important property of a program is whether it accomplishes the intention of its user.”  </b><br>
                    <i> ―  C.A.R. Hoare</i></p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="features-right">
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i><ion-icon name="construct"></ion-icon></i>
                            <div class="fr-inner">
                                <h4>Test driven development <br> (unit, integration and End-to-End)</h4>
                                
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i><ion-icon name="analytics"></ion-icon></i>
                            <div class="fr-inner">
                                <h4>Database <br> (MongoDB)</h4>
                                
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i><ion-icon name="logo-github"></ion-icon></i>
                            <div class="fr-inner">
                                <h4>Deployments <br> (Heroku, Firebase, GitHub pages)</h4>
                                
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i><ion-icon name="logo-bitbucket"></ion-icon></i>
                            <div class="fr-inner">
                                <h4>Jira <br> (Scrum and Kanban )</h4>
                                
                            </div>
                        </li>
                    </ul>
                </div><!-- end col -->
            </div><!-- end row -->

           

            <div class="row text-center">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="uploads/features_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="uploads/features_01.jpg" alt="" class="img-fluid img-rounded">
                        </div>
                        
                    </div><!-- end service -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->