<section class="about-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="heading">
          <h3><b>About me</b></h3>
          <h6 class="font-lite-black"><b>PROFESSIONAL PATH</b></h6>
        </div>
      </div><!-- col-sm-3 -->
      <div class="col-sm-12 col-md-9">
        <p class="margin-b-50">I am an experienced Full Stack Developer with over 3 years experience in web development and design. I provides best work and make satisfaction to my clients.

          Expertise 
          ✔	HTML 5 -It enables me to use cleaner and neater code eg  semantic HTML 5 
                                elements
          ✔	CSS3    -Being an independent language which is not dependent on JavaScript, 
                                CSS3 loads a lot faster than its precursors.
          ✔	Bootstrap- Very rich features including speed of development, responsiveness, 
                                     consistency and customazible
          ✔	jQuery - Wide range of plugins for various specific needs
          ✔	PHP - PHP has both procedure programming language and OOP language 
                            features
          ✔	Laravel - Provide well-organized, reusable and maintainable code
          ✔	MySQL - Offers exceptional security features that ensure absolute data 
                               protection
          ✔	WordPress - The design is 100% customizable
          ✔	Java -  It make development simple in that I can compose the application once 
                   in Java platform and run it in any other platform that supports Java.</p>
        
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-30">
              <div class="radial-progress" data-prog-percent=".97">
                <div></div>
                <h6 class="progress-title">HTML5 & CSS3</h6>
              </div>
            </div><!-- radial-prog-area-->
          </div><!-- col-sm-6-->
        
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-30">
              <div class="radial-progress" data-prog-percent=".78">
                <div></div>
                <h6 class="progress-title">JavaScript</h6>
              </div>
            </div><!-- radial-prog-area-->
          </div><!-- col-sm-6-->
          
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-30">
              <div class="radial-progress" data-prog-percent=".67">
                <div></div>
                <h6 class="progress-title">ANGULAR</h6>
              </div>
            </div><!-- radial-prog-area-->
          </div><!-- col-sm-6-->
          
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-50">
              <div class="radial-progress" data-prog-percent=".97">
                <div></div>
                <h6 class="progress-title">PHP & RUBY</h6>
              </div>
            </div><!-- radial-prog-area-->
          </div><!-- col-sm-6-->
        
        </div><!-- row -->
      </div><!-- col-sm-9 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- about-section -->