<section class="experience-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="heading">
          <h3><b>Work Experience</b></h3>
          <h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
        </div>
      </div><!-- col-sm-3 -->
      
      <div class="col-sm-12 col-md-9">
        <div class="experience margin-b-50">
          <h4><b>FRONTEND DEVELOPER</b></h4>
          <h5 class="font-yellow"><b>CODE PARTICLES</b></h5>
          <h6 class="font-lite-black margin-t-10">OCT 2018 - PRESENT</h6>
          <p class="margin-tb-30"><b>Responsibilities: </b></p>
          <ul class="list margin-b-30">
            
            <li>Build reusable code and libraries for future use.</li>
            <li>Ensure the technical feasibility of UI/UX designs.</li>
            <li>Optimize application for maximum speed and scalability</li>
            <li>Assure that all user input is validated before submitting to back-end</li>
            <li>Collaborate with other team members and stakeholders</li>
          </ul>
        </div><!-- experience -->
        
        <div class="experience margin-b-50">
          <h4><b>IT TECHNICIAN PART TIME</b></h4>
          <h5 class="font-yellow"><b>GENER WIFI LIMITED</b></h5>
          <h6 class="font-lite-black margin-t-10">JANUARY 2016 - DECEMBER 2017</h6>
          <p class="margin-tb-30"><b>Responsibilities:</b> </p>
          <ul class="list">
            <li>Assist personnel with installation, configuration and ongoing usability of systems</li>
            <li>Offer daily operations and systems support to personnel.</li>
            <li>Verify functionality of hardware and software components.</li>
            <li>Troubleshoot hardware and software issues in person, remotely and via phone</li>
            <li>Assist employees with computer problems and answer their questions</li>
          </ul>
        </div><!-- experience -->
        
      </div><!-- col-sm-9 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- experience-section -->