/* ---------------------------------
 PORFOLIO SECTION
--------------------------------- */

.portfolio-section {
    position: relative;
  }
  
  .portfolio-section .portfolioFilter {
    margin-top: 60px;
    color: #666;
  }
  
  .portfolio-section .portfolioFilter a {
    margin: 10px 10px 0 0;
  }
  
  .portfolio-section .portfolioFilter a.current {
    color: green;
  }
  
  .portfolio-section .portfolioContainer {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .portfolio-section .p-item {
    width: 32%;
    padding: 0 7.5px 0px;
    margin-top: 15px;
  }

  .portfolio-section .p-item a:hover{
    
    opacity: 0.3;
  }
  
  .portfolio-section .p-item a {
    display: inline-block;
    position: relative;
  }
  